

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	width: 100%;
	height: 100%;
	background: #42455a;


}

.menu ul{
	display: inline-flex;
	margin: 80px;
	float: right;	
	white-space: nowrap;
	
	
	
	
	 
	
}
.menu ul li{
	list-style: none;
	margin: 0 20px;
	color: white;
	cursor: pointer;
	white-space: nowrap;
    font-weight: bold;
    
	

}
.logo img{
	width: 30px;
	margin-top: -7px;
	margin-right: 48px;
}
.active {
	color: #19dafa !important;
}
.contact-btn {
	top: 68px;
	left: 150px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;
	
}
.contact-btn span{
	display: block;
	padding: 8px 22px;
}

.banner{
	
width: 80%;
height: 70%;
top: 25%;
left: 130px;
position: absolute;
color: #fff;
}
.app-text{
	width: 40%;
	float: right;
}

.app-text h1{
	font-size: 40px;
	width: 640px;
	position: relative;
	margin-left: 30px;
	direction: rtl;
}
.app-text p{
	width: 600px;
	font-size: 15px;
	margin: 30px 0 30px 40px;
	line-height: 25px;
	color: #919191;
	direction: rtl;
	
}

.app-picture{

	width: 50%;
	float: left;
	
}

.app-picture img {
    filter: opacity(0.7) drop-shadow(0 0 0 );   
	width: 100%;
	margin-top: -50px;
	padding-left: 20px;
}

.shop-btn{
	margin-left: 400px;
	display: inline-flex;
	
}

.shop-btn-inner{
	
	height: 50px;
	width: 50px;
	border: 2px solid transparent;
	border-radius: 50px;
	background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
	background-origin: border-box;
	background-clip: content-box,border-box;
	text-align: center;
	text-decoration: none;
	
}
.shop-btn-inner .fa-solid{
	
	padding: 14px 0;
	font-size: 17px;
	cursor: pointer;
	
}
small{
	margin: auto 20px;
	cursor: pointer;
	font-size: 12px;
	color: #19dafa;
	letter-spacing: 3px;
	
}
.quick-links{
	right: 0;
	bottom: 0;
	position: absolute;
	background: linear-gradient(to right, #db1bf6,#19d7f8);
}

.quick-links ul{
	display: inline-flex;
	margin: 20px auto;
	text-align: center;
}

.quick-links ul li{
	list-style: none;
	margin: 0 60px;
	cursor: pointer;
}
.quick-links ul li .fa-solid{
	font-size: 25px;
	color: #fff;
}

.quick-links ul li p{
	margin-top: 15px;
	font-size: 10px;
	color: #fff;
}
.socia-icons {
	left: 50px;
	bottom: 35px;
	position: absolute;
	
}
.socia-icons ul li {
	list-style: none;
	margin-top: 15px;
	text-align: center;
	
}

.socia-icons ul li a{
	color: #999;
	border-radius: 50%;
	border: 1px solid #999;
	padding: 5px;
	display: block;
	
}